@import './lib/main.css';


/* ---------------------------------------------------
    NAVBAR STYLE
----------------------------------------------------- */

.navbar {
    background: #701C28;
    border: 0;
}
.navbar .nav-item.dropdown {
    text-align: right;
    position: absolute;
    top: 50%;
    right: 1%;
    transform: translateY(-50%);
}
.navbar .dropdown-toggle {
    color: #FFFFFF;
    text-decoration: none;
}
.navbar .dropdown-toggle:visited {
    background-color: #701C28;
}
.navbar .dropdown-menu {
    right: 0;
    left: auto;
}
.navbar .dropdown-item {
    display: block;
    margin-left: 8px;
    color: #000000;
    text-decoration: none;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#admin-sidebar {
    width: 250px;
    position: fixed;
    top: 5%;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #333;
    color: #fff;
    transition: all 0.3s;
    overflow-y: auto;
}

#admin-sidebar.active {
    margin-left: -250px;
}
#admin-sidebar .sidebar-header {
    padding: 20px;
    padding-bottom: 0px;

    background: #333;
}

#admin-sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #ebebeb;
}

#admin-sidebar ul p {
    color: #fff;
    padding: 10px;
}

#admin-sidebar ul li i {
    margin-right: 3%;
}

#admin-sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: #fff;
    text-decoration: none !important;
}
#admin-sidebar ul li a:hover {
    color: #333;
    background: #EBEBEB;
}

#admin-sidebar ul li.active > a, a[aria-expanded="true"] {
     color: #fff;
     background: #333;
 }

#admin-sidebar ul li a.current {
    background: #EBEBEB;
    color: #000;
}

a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    /*content: '\e259';*/
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}
a[aria-expanded="true"]::before {
    /*content: '\e260';*/
}

#admin-sidebar ul ul a {
    font-size: 0.9em !important;
    padding-left: 20px !important;
    background: #565656;
}
#sidebar ul ul ul a {
    font-size: 0.9em !important;
    padding-left: 40px !important;
    background: #565656;
}

#admin-sidebar ul.components {
    padding: 10px 0;
    padding-top: 0px;
    border-bottom: 0px solid #ebebeb;
}

#admin-sidebar ul.CTAs {
    padding: 20px;
}

#admin-sidebar ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}


/*
#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #7386D5;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
#dismiss:hover {
    background: #fff;
    color: #7386D5;
}*/


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
    width: calc(100% - 250px);
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 5%;
    right: 0;
}
#content.active {
    width: 100%;
}
.leseportal-space {
    margin-top: 8px;
}

/* ---------------------------------------------------
    DASHBOARD STYLE
----------------------------------------------------- */
.tile_count {
    margin: 60px auto;
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}
.tile_stats_count {
    margin: 5px 5px;
    padding: 10px 12px;
    border: 0.5px solid lightgray;
    border-radius: 2px;
    width: 160px;
}
.tile_count i {
    margin-right: 4%;
}
.count {
    margin-top: 10px;
    font-size: 22px;
}

/* ---------------------------------------------------
    OVERVIEW STYLE
----------------------------------------------------- */

.icon {
    margin: 0 4% 0 4%;
    cursor: pointer;
}

/* ---------------------------------------------------
    CREATE SNIPPETS STYLE
----------------------------------------------------- */

#snippetTextList {
    margin-top: 30px;
    height: 15em;
    border: 1px solid #ccc;
    overflow-x: hidden;
}

#snippetTextList a {
    border-radius: 0;
}

#snippettype {
    margin-bottom: 40px;
}

.question-block  input[type=checkbox] {
    position: absolute;
    bottom: -3px;
    left: -5px;
}

#btn-question-block {
    margin: 40px 0 40px 0;
}

.snippet-save-block {
    margin-bottom: 80px;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (min-width: 1200px) {
    .container {
        width: auto !important;
    }
}


@media (max-width: 768px) {
    #content {
        width: 100%;
        margin: 0 auto;
        margin-top: 50px;
        position: relative;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    .navbar-right{
        text-align: right;
    }
    .navbar-nav{
        margin: 0 !important;
    }
    #sidebarCollapse span {
        display: none;
    }
    #admin-sidebar {
        margin-left: -250px;
    }
    #admin-sidebar.active {
        margin-left: 0;
    }

}

@media (max-width: 415px) {
    #content {
        padding: 40px 20px 40px 20px;
    }
}



