@import './lib/main.css';



/* ---------------------------------------------------
    NAVBAR STYLE
----------------------------------------------------- */

.navbar {
    background: #701C28;
    border: 0;
}
.navbar .nav-item.dropdown {
    text-align: right;
    position: absolute;
    top: 50%;
    right: 1%;
    transform: translateY(-50%);
}
.navbar .dropdown-toggle {
    color: #FFFFFF;
    text-decoration: none;
}
.navbar .dropdown-toggle:visited {
    background-color: #701C28;
}
.navbar .dropdown-menu {
    right: 0;
    left: auto;
}
.navbar .dropdown-item {
    display: block;
    margin-left: 8px;
    color: #000000;
    text-decoration: none;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#user-sidebar {
    width: 250px;
    position: fixed;
    top: 5%;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #333;
    color: #fff;
    transition: all 0.3s;
    overflow-y: auto;
}

#user-sidebar.active {
    margin-left: -250px;
}

#user-sidebar .sidebar-header {
    padding: 20px;
    background: #333;
}

#user-sidebar ul.components {
    padding: 10px 0;
    padding-top: 0px;
    border-bottom: 0px solid #ebebeb;
}

#user-sidebar ul p {
    color: #fff;
    padding: 10px;
}

#user-sidebar ul li i {
    margin-right: 3%;
}

#user-sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: #fff;
    text-decoration: none !important;
}
#user-sidebar ul li a:hover {
    color: #333;
    background: #EBEBEB;
}

#user-sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #333;
}

#user-sidebar ul li a.current {
    background: #EBEBEB;
    color: #000;
}

a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
}

#user-sidebar ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #565656;
}

#user-sidebar ul.CTAs {
    padding: 20px;
}

#user-sidebar ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 250px);
    transition: all 0.3s;
    position: absolute;
    top: 40px;
    right: 0;
    height: 100%;
}
#content.active {
    width: 100%;
}

/* ---------------------------------------------------
    DASHBOARD STYLE
----------------------------------------------------- */

#inner-dashboard {
    background-color: #f7f7f7;
    padding: 50px 4% 0 4%;
    height: 100%;
}

#inner-dashboard .card-group {
    margin: 0 3%;
}

.inner .cols {
    padding-right: 8px;
    padding-left: 8px;
}

.thumbnail {
    padding: 4% 3%;
    box-shadow: 0 0 10px -4px #888888;
    text-align: center;
    font-size: 18px;
    height: 200px;
}

.thumbnail h4 {
    font-size: 20px;
    font-weight: 800;
    line-height: 26px;
}

/* ---------------------------------------------------
    AREA OF INTEREST STYLE
----------------------------------------------------- */

#inner-area-of-interest {
    padding: 50px 2% 0 2%;
}

.inner .title {
    margin: 0 0 20px 0;
}

/* ---------------------------------------------------
    PAGE SHOW
----------------------------------------------------- */

.inner-user {
    padding: 20px 4% 0 4%;
    margin-bottom: 150px;
}

/* ---------------------------------------------------
    SNIPPET STYLE
----------------------------------------------------- */

#show-snippets-section h2, #show-results-section h2 {
    font-size: 22px;
    margin: 30px 0 30px 0;
}
#show-snippets-section h3, #show-results-section h3 {
    font-size: 20px;
    margin-top: 10px;
}
#show-snippets-section h4, #show-results-section h4 {
    font-size: 16px;
}

hr {
    margin: 20px 0 40px 0;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

.submit-block {
    margin: 60px 0 0 0;
}

.icons .fa {
    padding: 0 2.5px 10px 2.5px;

}
.fa-check {
    color: green;
}
.fa-times {
    color: red;
}

/* ---------------------------------------------------
    PAGE SHOW - checkboxes and radio style
----------------------------------------------------- */

.control {
    font-size: 16px;
    font-weight: 400;
    position: relative;
    margin-bottom: 15px;
    padding-left: 30px;
    cursor: pointer;
}

.control input {
    display: none;
}

.control__indicator {
    width: 20px;
    height: 20px;
    background: #e6e6e6;
}

.control--radio {
    padding-left: 0;
}

.indicator-checkbox {
    position: absolute;
    top: 2px;
    left: 0;
}

.indicator-radio {
    display: inline-block;
    vertical-align: -20%;
    margin: 0 5px 0 0;
}

.control--radio .control__indicator {
    border-radius: 50%;
}
.control--radio .control__indicator.false {
    margin-right: 20px;
}

/* Hover and focus states */
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
    background: #ccc;
}

/* Checked state true */
.control input:checked ~ .control__indicator.true {
    background: #8C4952;
}
/* Checked state false */
.control input:checked ~ .control__indicator {
    background: #8C4952;
}

/* Hover state whilst checked true */
.control:hover input:not([disabled]):checked ~ .control__indicator.true,
.control input:checked:focus ~ .control__indicator.true {
    background: #701C28;
}
/* Hover state whilst checked false */
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
    background: #701C28;
}

/* Disabled state */
.control input:disabled ~ .control__indicator {
    pointer-events: none;
    opacity: .6;
    background: #e6e6e6;
}

/* Check mark */
.control__indicator:after {
    position: absolute;
    display: none;
    content: '';
}

/* Show check mark */
.control input:checked ~ .control__indicator:after {
    display: block;
}

/* Checkbox tick */
.control--checkbox .control__indicator:after {
    top: 4px;
    left: 8px;
    width: 3px;
    height: 8px;
    transform: rotate(45deg);
    border: solid #fff;
    border-width: 0 2px 2px 0;
}

/* Disabled tick colour */
.control--checkbox input:disabled ~ .control__indicator:after {
    border-color: #7b7b7b;
}

/* Radio button inner circle */
.control--radio .control__indicator:after {
    margin: 6px 0 0 7px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
}

/* Disabled circle colour */
.control--radio input:disabled ~ .control__indicator:after {
    background: #7b7b7b;
}

/* ---------------------------------------------------
    USER RESULTS - checkboxes and radio style
----------------------------------------------------- */

/* Checkoboxes and Radio-Buttons */
.checkbox-checked-true, .checkbox-checked-false, .checkbox-notChecked-false, .checkbox-notChecked-true, .radio-checked-true, .radio-checked-false, .radio-notChecked-true, .radio-notChecked-false {
    width: 22px;
    height: 22px;
}
.checkbox-checked-true, .checkbox-checked-false, .radio-checked-true, .radio-checked-false {
    background: #701C28;
}
.checkbox-notChecked-true, .checkbox-notChecked-false, .radio-notChecked-true, .radio-notChecked-false {
    background: #e6e6e6;
}
.checkbox-checked-true, .checkbox-notChecked-true, .radio-checked-true, .radio-notChecked-true {
    border: 2px solid lime;
}
.checkbox-checked-false, .checkbox-notChecked-false, .radio-checked-false, .radio-notChecked-false {
    border: 2px solid red;
}
/* Show check mark and inner circle */
.checkbox-checked-true:after, .checkbox-checked-false:after, .radio-checked-true:after, .radio-checked-false:after {
    position: absolute;
    content: '';
    display: block;
}

/* Checkboxes */
.checkbox-checked-true, .checkbox-checked-false, .checkbox-notChecked-false, .checkbox-notChecked-true {
    position: absolute;
    top: 2px;
    left: 0;
}
/* Checkbox tick */
.control--checkbox .checkbox-checked-true:after, .control--checkbox .checkbox-checked-false:after {
    top: 4px;
    left: 8px;
    width: 3px;
    height: 8px;
    transform: rotate(45deg);
    border: solid #fff;
    border-width: 0 2px 2px 0;
}

/* Radio-Buttons */
.radio-checked-true, .radio-checked-false, .radio-notChecked-true, .radio-notChecked-false {
    border-radius: 50%;
}

/* Radio button inner circle */
.control--radio .radio-checked-true:after, .control--radio .radio-checked-false:after {
    margin: 5px 0 0 6px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (min-width: 1200px) {
    .container {
        width: auto !important;
    }
}

@media (max-width: 768px) {
    #user-sidebar {
        margin-left: -250px;
    }
    #user-sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
    .navbar-right{
        text-align: right;
    }
    .navbar-nav{
        margin: 0 !important;
    }
    #inner-dashboard {
        height: auto;
    }

    .statements {
        margin-bottom: 15px;
    }
    .control--radio {
        display: inline;
    }
}
