@import './lib/main.css';

/* ---------------------------------------------------
    FOOTER MAIN PAGE STYLE
----------------------------------------------------- */

.main-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 35px;
    text-align: center;
}

.main-footer p {
    padding: 10.5px;
    margin: 0px;
    line-height: 100%;
}


.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #5cb85c;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.navbar-brand {
    font-weight: bold;
}

/* ---------------------------------------------------
    LOGIN (USER AND ADMIN) STYLE
----------------------------------------------------- */

.spacer
{
    width: 100%;
    min-height: 50px;
    margin-bottom: 40px;
}

.navbar {
    position: relative;
}
.navbar .nav-item.menu {
    display: none;
}
.navbar .nav-item.logo {
    display: none;
}
.navbar .nav-item.nav-link {
    color: #000000;
    text-decoration: none;
    padding: 0 3% 0 0;
    float: right;
    text-align: right;
    transform: translateY(60%);
}



